@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This website is to help record and review the various observations made for the metabolic condition Tyrosinemia.
    </p>
</article>

<aside>
    <h3>References</h3>
    <p>
        Here are some links to information about Tyrosinemia Type I
    </p>
    <ul>
        <li><a href="http://en.wikipedia.org/wiki/Type_I_tyrosinemia">Wikipedia</a></li>
        <li><a href="http://ghr.nlm.nih.gov/condition/tyrosinemia">National Library of Medicine (US)</a></li>
        
        
    </ul>
</aside>